*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;
text-align: center;
background-color: #B91450;
}

h1{
    color:white;
    text-transform: uppercase;
    font-size: 28px;
    padding:20px 0;
}

.form-dati{
    background-color: white;
    max-width: 800px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0 , 0 , 0, 0.5);
    padding:20px;
}

.row{
    display: flex;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.col label{
    color:#B91450;
    font-weight: bolder;
    margin:20px 0;
}

.btn{
    background-color: lightgrey;
    color:#B91450;
    border-radius:5px;
    border:1px solid grey;
    padding:10px;
    margin:5px 15px;

}

.btn a{
    text-decoration: none;
    color:#B91450;
}

input::placeholder{
    text-align: center;
}

input , select{
    border-radius: 5px;
    padding:5px;
    border:1px solid #B91450;
    text-align: center;
}

input:focus ,
select:focus {
    background-color: #B91450;
    color: black;
}

/* seconda parte Biglietto */

#biglietto{
    background-color: white;
    max-width: 800px;
    margin:auto;
    box-shadow: 2px 2px 6px rgba(0 , 0 , 0, 0.5);
    padding:20px;
}
